<header id="header">
    <div class="wrap cf">
        
        <div id="branding" class="image-branding" role="banner">
            <h1 id="site-title"><a rel="home" href="{{ path('mvondo_site_homepage') }}">Mvondo</a></h1>
            <a id="site-logo" rel="home" href="{{ path('mvondo_site_homepage') }}"><img src="{{ asset('bundles/mvondosite/images/logo.png') }}" alt="Mvondo"></a>

            <h2 id="site-description" class="hidden">Professional Video WordPress Theme</h2>
        </div><!-- end #branding -->

        <div id="header-actions" class="cf">
        </div><!-- end #header-actions -->

        <div id="header-search">
            <div class="searchform-div">
                <form method="get" class="searchform" action="#">
                    <div class="search-text-div"><input type="text" name="s" class="search-text" value="" placeholder="Search..."></div>
                    <div class="search-submit-div btn"><input type="submit" class="search-submit" value="Search"></div>
                </form><!--end #searchform-->
            </div>	
        </div><!-- end #header-search -->

    </div>
</header>


