<div id="main-nav">
    <div class="wrap cf">
        <a href="/tech/index.php" target="_blank" class="btn btn-lightblue btn-buynow">Espace Tech</a>
        <ul id="menu-main-menu" class="menu">
            <li class="menu-item current-menu-item"><a href="{{ path('mvondo_site_homepage') }}">Home</a></li>
            <li class="menu-item"><a href="#">Single Menu</a></li>
            <li class="menu-item menu-item-has-children"><a href="#">Menu Parent</a>
                <ul class="sub-menu">
                    <li  class="menu-item"><a href="#">child1</a></li>
                    <li class="menu-item"><a href="#">child2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>