/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 mars 2016, 16:24:03
    Author     : Rimanno
*/
.clr{clear:both}
/*== Header
 *=================================*/
#header{
    background: #ffffff;
    
}
#header .wrap {
    padding: 24px 0;
}
#header-search {
    margin-left: 57px;
}

/*== Search Form
 *=================================*/
 .search-submit-div {height: 34px;
}
 input.search-submit {
	background:url(../images/search.png) no-repeat 9px 6px #000000 !important ;
	 border-radius: 0 3px 3px 0;
	 height:34px;
}
 input.search-submit:hover {
	background:url(../images/search.png) no-repeat 9px -22px #E60203 !important ;
}
.search-text-div .search-text{height: 25px;}
/*= Main Navigation
 *==================================================================*/
#main-nav {
	background:#444 url(../images/bg_menu.png) repeat-x 0 0;
	border-bottom:3px solid #E60203;
}
#main-nav .menu > li > a{ border-top: 1px solid #292929;
	border-right:1px solid #000000;
	height: 37px;
	}
#main-nav .menu > li.current-menu-item > a{ background:#E60203;
	border-left:1px solid #4b4b4b;
    margin-top: 0;
    padding-bottom: 0;
	}
#main-nav .menu > li.current-menu-item > a:hover{color:#000000;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5);
	}
#main-nav .menu>li>a:hover {background: #fff ;
    border-top: 1px solid #292929;
    color: #E60203;
	text-shadow:none;
}

#main-nav .menu  .menu-item-1.current-menu-item a{background: #e60203 url("../images/home.png") no-repeat 5px 9px;
    padding-left: 32px;
	}
#main-nav .menu  .menu-item-1.current-menu-item a:hover{background: #e60203 url("../images/home.png") no-repeat 5px -30px;
	border-top: 1px solid #292929;}
/*== Video Detatils
 *=================================*/
 .wall {
    background: #1a1a1a url("../images/page-bg-1.png") 0 0;
    padding: 20px 0;
    position: relative;
    text-shadow: none;
}
.wall .entry-actions .dp-like-post .like {
    background: #E60203 url("../../bundles/mvondosite/images/actions.png") no-repeat 10px 6px;
}
.fcarousel li.active {
	border-color:#A50000;
}

/*== Footer
 *=================================*/
#footer {
	background:#000000 url("../images/footer_design.png") left bottom repeat-x;
	color:#a9a9a9;
	text-shadow: none;
}
#footer .widget-col-links{color:#a9a9a9;}
#footbar .wrap {
    border-bottom: none;
}
#footbar .widget-title{color:#ffffff;
	}
#footbar.footbar-c4s1 .widget-col{ margin: 0 54px 0 0;}
#footbar.footbar-c4s1 .widget-col-no{margin:0;}
#footnewsl{background:#353535;
	 padding: 3px 0;
	}
#footnewsl label{ color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
	}
#footnewsl .send-submit{background: #e40301 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    padding: 5px 12px;
    text-shadow: 1px 0 1px #000000;
    vertical-align: bottom;
	}
#footnewsl .send-submit:hover{background:#000000;}
#footnewsl #mail{width: 300px;}
#footnewsl form{display: block;
    margin: auto;
    width: 67%;}
#footer #copyright {
    display: block;
    text-align: center;
    width: 100%;
}

/*== Social Network
 *=================================*/
 
 #social-nav .facebook {
    background-position: 0 -30px;
}
 #social-nav .gplus {
    background-position: 0 -59px;
}
.widget #social-nav {
    float: none;
    text-align: left;
}