<!-- module highlight category -->
<div class="section-box">
    <div class="section-header">
        <h2 class="section-title">
            <a class="name-link">
                <span class="name">Musique</span>
            </a>
        </h2>
        <a class="more-link" href="{{ path('mvondo_category_view', {'slug': 'music'} ) }}" alt="musique" >
            <span>Plus<i class="mini-arrow-right"></i></span>
        </a>
    </div>

    <div class="section-content list-large">
        <div class="nag cf">
                {% include 'template/big_square_video.html.twig' %}
        </div>
    </div>
</div>
<!-- end module highlight category -->