{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - Youtube Search {% endblock %}

{% block body %}
    <form method="POST" action="{{ path('mvondo_youtube_search') }}">
        <input type ="search" name="keyword"/>
        <input type="submit" value="YouTube Search"/>
    </form>
    {% if videos is defined %}
    <h1 class='loop-header'Youtube Search >Result</h1>
<div class="section-box">
    <div class="section-header">
        <h2 class="section-title">
                <span class="name">Results</span>
        </h2>
    </div>

    <div class="section-content  list-large">
        <div class="nag cf">
            {% for video in videos %}
                {% include 'MvondoYoutubeBundle:template:small_rect_video.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
    {% endif %}

{% endblock %}